<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">Memeber</div>
</ons-toolbar>
<div class="background"></div>
<div class="content" class="initial-page">
  <div style="text-align: left; margin: 10px">
      <ons-page>
          <ons-toolbar>
            <div class="center">員工列表</div>
          </ons-toolbar>        
          <ons-list>
            <ons-list-header>排班經理</ons-list-header>
            <ons-list-item>王曉燕</ons-list-item>
            
            <ons-list-header>員工</ons-list-header>
            <ons-list-item>鄭威得</ons-list-item>
            <ons-list-item>王少甫</ons-list-item>
            <ons-list-item>翁儀庭</ons-list-item>
            <ons-list-item>陳怡蓁</ons-list-item>
            <ons-list-item>葉聖哲</ons-list-item>


          </ons-list>
      </ons-page>
  </div>
</div>
