<ons-page>
    <ons-toolbar>
      <div class="center">{{title}}</div>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
    </ons-toolbar>
    <div class="center">
        <ons-row>
          <ons-input class="input-text"
                     placeholder="使用者名稱"
                     modifier="underbar"
                     name="USER_Name"
                     [(ngModel)]="RgtData.USER_Name"
                     float></ons-input>
        </ons-row>
        <ons-row>
          <ons-input class="input-text"
                     placeholder="身份證字號"
                     modifier="underbar"
                     name="USER_ID"
                     [(ngModel)]="RgtData.USER_ID"
                     float></ons-input>
        </ons-row>
        <ons-row>
            <div *ngFor="let s of sex; let i = index">
              <ons-radio
                name="USER_SEX"
                modifier="underbar"
                [attr.input-id]="'sex-' + i"
                [(ngModel)]="RgtData.USER_SEX"
                [attr.value]="s"
              >
              </ons-radio>
              <label class="sex" [attr.for]="'sex-' + i">{{ s }}</label>
            </div>
        </ons-row>
        <ons-row>
          <ons-input class="input-text"
                     placeholder="電子信箱"
                     modifier="underbar"
                     name="USER_EMAIL"
                     [(ngModel)]="RgtData.USER_EMAIL"
                     float></ons-input>
        </ons-row>
        <ons-row>
          <ons-input class="input-text"
                     type="password"
                     placeholder="密碼"
                     modifier="underbar"
                     name="USER_PSW"
                     [(ngModel)]="RgtData.USER_PSW"
                     float></ons-input>
        </ons-row>
    </div>
    <ons-row>
      <ons-button class="pageBtn" (click)="RgtUP()">註冊</ons-button>
    </ons-row>
</ons-page>

