<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">行事曆</div>
</ons-toolbar>
<div class="background"></div>
<ion-header>
  <ion-toolbar color="Medium">
    <ion-title class="center" >
      {{ viewTitle }}
    </ion-title>
      <ion-buttons class="addBtn" slot="end" id="addBtn">
        <button ion-button (click)="onAddEvent()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- Dialog for adding a new event -->
  <ons-dialog animation="default" cancelable #dialog>
      <div class="dialog">
        <div class="dialog-container" style="height: 350px;">
          <ons-page *ngFor="let item of eventSource">
            <ons-toolbar>
              <div class="center">{{ item.title }}</div>
            </ons-toolbar>
            <div class="content">
              <div style="text-align: center">
                <ons-list>
                  <ons-list-header>{{ item.desc }}</ons-list-header>
                  <ons-list-item>{{ item.startTime }}</ons-list-item>
                  <ons-list-item>{{ item.endTime }}</ons-list-item>
                </ons-list>
                <ons-button  (click)="onEditEvent()">編輯</ons-button>
                <ons-button  (click)="onDeleteEvent()">刪除</ons-button>
              </div>
            </div>
          </ons-page>
        </div>
      </div>
  </ons-dialog>
  <!--Dialog end-->

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'Medium' : 'Dark'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'Medium' : 'Dark'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'Medium' : 'Dark'" (click)="changeMode('day')">Day</ion-button>
    </ion-col>
    <!-- Move back one screen of the slides -->
    <!-- <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col> -->

    <!-- Move forward one screen of the slides -->
    <!-- <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col> -->
  </ion-row>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    startHour="5"
    endHour="26"
    step="20"
    startingDayWeek="1">
  </calendar>

</ion-content>
