<ons-tabbar>
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <ons-tab label="成員列表" icon="md-face" [page]="memeber" active></ons-tab>
    <ons-tab label="聊天室" icon="md-home" [page]="chatroom"></ons-tab>
    <ons-tab label="班表" icon="fa-file" [page]="schedule"></ons-tab>
    <ons-tab label="行事曆" icon="ion-calendar" [page]="calendar"></ons-tab>
    <ons-tab label="估算薪水" icon="md-zoom-in" [page]="salary"></ons-tab>
    <ons-tab label="設定" icon="fa-cog" [page]="setting"></ons-tab>
  </div>
</ons-tabbar>
