ons-row {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
ion-label {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
ons-select{
    margin-top: 15%;
    padding-left: 5%;
    padding-right: 5%; 
}
