<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">Salary</div>
</ons-toolbar>
  <div class="background"></div>
  <div class="content" class="initial-page">    
      <ons-page>
        <ons-toolbar>
          <div class="center">估算薪水</div>
        </ons-toolbar>        
        <ons-select                    
                   [(ngModel)]="conutSalary" 
                   [attr.modifier]="conutSalary"
                   >
          
                  <option *ngFor="let modifier of CSalary" [value]="modifier.value">
                          {{modifier.label}}
                  </option>
        </ons-select>

      
        <ons-row>
          <ons-input class="input-text"                     
                     placeholder="時薪"
                     name="Hsalary"
                     [(ngModel)]="inputData.Hsalary"
                     float>
          </ons-input>
       </ons-row>
       <ons-row>
          <ons-input class="input-text"                     
                     placeholder="休息時間"
                     name="Break"
                     [(ngModel)]="inputData.break"                     
                     float>
          </ons-input>
       </ons-row>
      <ons-row>
        <ons-input class="input-text"                     
                   placeholder="今日薪水"
                   name="total"
                   [(ngModel)]="inputData.total"
                   disabled="true"
                   float>
        </ons-input>
      </ons-row>
      <ons-row>
          <ons-button>計算</ons-button>
      </ons-row>

      
    </ons-page>    
  </div>
